
@font-face {
   font-family: HelveticaNeue-Roman !important;
   src: url(../fonts/HelveticaNeue-Roman.otf);
}

body{
   background-color: #eceff1;
   font-family: 'HelveticaNeue-Roman', sans-serif;
}


#login-card{
  margin-top: 5%;
}

#login-logo{
  max-width: 100%;
}

#login-button{
  width: 100%;
  background:#FD7361;
  border-radius: 10px;
}



.blue-url{
  text-decoration: underline;
  font-weight: bold;
  color:#039be5;
}

#filter-menu{
  height: 40vw;
  margin-top: 3vw;
  margin-left: 2vw;
  position: fixed;
  padding-left: 3vw;
  padding-right: 3vw;
}

#dashboard-body{
  background: #fafafa !important;
}

#right-panel{
  padding-left: 5vw;
  padding-top: 2vw;
}

#techtogether-nav{
  background:#808cFB;
  height:5vw;
}

#navbar-logo{
  height: 4.5vw;
  margin-left: 2vw;
  margin-top: .3vw;
}

#nav-bar-message{
  position: fixed;
  margin-left: 1em;
  font-size: 1.2em;
}

#export-menu-options{
  position: fixed;
}

#export-buttons{
  float: right;
margin-top: 1.5vw;
margin-left: 2vw;
}

.filter-label{
  font-size:1vw !important;
}

.filter-buttons{
  float: right;
margin-top: -3.5vw;
}

.checkbox-label{
  color:#424242;
}

.tt-blue{
   color:#52D9F6;
   background: #52D9F6;
}

.tt-blue-light{
  background: rgb(82,217,246, .5);
}

.tt-purple{
   color:#808cFB;
   background:#808cFB;
}

.tt-purple-light{
  background: rgb(128,140,251,.5);
}

.tt-pink{
   color:#FD7361;
   background:#FD7361 !important;
}

.tt-pink-light{
  background: rgb(253,115,97,.5);
}

.tt-red-light{
  background: rgb(231,63,51,.5);

}
.tt-red{
   color:#E73F33;
   background:#E73F33;
}

.tt-green{
  background: #2e6e87;
}

.tt-green-light{
  background: rgb(46,110,135,.5);
}


.bold{
  font-weight: 800;
}

.lighter{
  font-weight: lighter;
}
